<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/cartoonchef.jpg" alt="">
  </div>
  <div class="headings">
    <h2>Amazing Recipes</h2>
    <h3>Recipes mastered over many years! </h3>
    <a href="/recipes" class="btn">View Recipes</a>
  </div>
</header>


<%- include('partials/footer'); -%>